* {font-family: Arial, Helvetica, sans-serif;
    color:rgb(75,0,130);  
}

.collaborator-card {
    width: 250px;
    height: auto;
    border: solid 3px rgb(75,0,130);
    padding: 15px;
    margin: 10px; 
}

.collaborators-list-menu {
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
}

.menu {
    font-weight: bold;
}

.button-container {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: end;
   
    button {
        width: 70px;
        cursor: pointer;
        background-color: rgba(230,230,250);
        
    }
}


  
//   .collaborators-list-container {
//       display: flex;
//       justify-content: space-around;
//       width: 100%;
//       height: 50px; 
      
//   }
  
//   .container {
//       width: 800px;        
//   }
  
//   .collaborators-list-menu {
//       background-color: rgba(230,230,250);
//       font-family: Arial, Helvetica, sans-serif;
//       font-size: 18px;
      
//   }
  
//   .collaborators-list{
//       font-size: 16px;
//       background-color:  rgb(238, 238, 252);
//       text-align: center;   
  
//   }
  